.fr-icon-apps-2-line::before,
.fr-icon-apps-2-line::after {
  -webkit-mask-image: url("../../../icons/system/apps-2-line.svg");
  mask-image: url("../../../icons/system/apps-2-line.svg");
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .fr-icon-apps-2-line::before,
  .fr-icon-apps-2-line::after {
    background-image: url("../../../icons/system/apps-2-line.svg");
  }
}