#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.fr-header .fr-logo {
  display: none !important;
}

.fr-header__logo {
  width: 80px;
  height: 80px;
  background: url('../assets/images/logo.svg');
  margin-right: 0 !important;
}

.sep {
  width: 1px;
  background: var(--blue-france-925-125);
}
